# Global Exploration missing values

In [12]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import outlier_removal as out
from sklearn import linear_model
df=pd.read_csv('TrainSample.csv',sep=';' )
from  numpy import nan

## Analysis by Lines

In [13]:
missing=df.isnull().as_matrix()
count_na_lines=[[i,np.sum(missing[i,:])] for i in range(len(missing))]
t=pd.DataFrame(count_na_lines)
t.columns = ['line','nb of nas per row']
t=t.groupby('nb of nas per row')['line'].count()
t=t.to_frame()
t.columns = ['amount of rows']
t

                   amount of rows
nb of nas per row
0                             315
1                              41
2                               2
3                               4
5                               1
18                             73
19                             17
20                              5
21                              1
22                              1

Above we can see that we have two big groups of rows (records).We define:

Group1: less than 5    missing values. 363 members

Group2: more than 18 missing values. 97 members

### seperate the two groups

In [14]:
l1=[i for i in range(len(df)) if count_na_lines[i][1]<=6 ]
l2=[i for i in range(len(df)) if count_na_lines[i][1]>6 ]
group1=df.iloc[l1]
group2=df.iloc[l2]
group2

,API,Surf_X,Surf_Y,Date_Drilling,Date_Completion,Date_Production,Lateral_Length (ft),Depth_TVD_PPLS (ft),Erosion_PPLS (ft),Pressure_PPLS (PSI),...,Min_Rate_Slurry (bpm),ShutInPressure_Fil (KPa),ShutInPressure_Initial (KPa),ISIP (KPa),Shot_Density (shots/ft),Shot_Total,Proppant_per_ft (kg/ft),Stage_Spacing (ft),GasCum360,OilCum360
5,382,-2.315616,1.968080,23/11/2013,13/03/2014,12/03/2014,0.240465,-0.321921,0.956798,0.486036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.346808,3.653619
10,496,-2.275067,1.952019,11/10/2013,15/03/2014,10/03/2014,-0.692959,-0.377329,0.988810,0.500315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.523009,0.365814
11,534,-1.090920,2.077769,19/02/2014,09/10/2014,09/10/2014,0.051913,-2.027364,1.441385,1.149701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.848245,-0.727237
12,173,-1.002430,1.006312,27/10/2014,23/09/2015,25/09/2015,0.124098,-0.739625,0.642626,0.077108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.234862,1.856239
20,450,2.869421,-1.004912,13/12/2013,23/07/2014,01/07/2014,0.554717,0.016117,0.454264,-3.253818,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.112347,-0.846812
24,704,-1.011015,0.634942,25/03/2014,19/08/2014,19/08/2014,-0.409198,-0.124173,0.231937,-0.223568,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.074091,0.184022
31,362,-1.739415,2.327785,NaN,25/10/2014,25/10/2014,0.853413,-1.883813,1.375304,1.232190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.654308,-0.840038
44,461,-2.285832,1.934415,25/10/2013,14/03/2014,12/03/2014,-0.692959,-0.328040,0.974578,0.469399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.601820,0.130114
55,407,-2.398956,1.033041,19/12/2014,28/03/2015,15/05/2015,-0.473915,1.300658,0.496111,-0.994766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.048415,1.294539
61,495,-1.282817,0.709072,29/05/2013,16/10/2013,01/09/2013,-0.334524,0.037609,0.862223,0.005339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.429847,2.088389
64,136,-1.788851,2.232945,06/01/2014,17/06/2014,17/06/2014,1.303323,-1.673424,1.355851,1.124592,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.881936,-0.183311
67,767,-1.896971,1.958564,26/01/2014,09/10/2014,04/10/2014,0.518625,-1.122232,1.271012,0.796493,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.431925,-0.448080
69,339,-2.034751,1.549856,24/04/2013,06/11/2013,28/03/2014,-1.254880,-0.236387,1.062113,0.222347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.616967,0.231850
70,649,-2.124975,2.317977,10/10/2014,14/01/2015,29/04/2015,2.130958,-1.264634,1.168734,1.028108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.221949,-0.482835
71,442,-1.211965,1.142066,02/09/2014,NaN,01/12/2015,1.004627,-0.748632,1.087907,0.289683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.842177,-0.062339
74,479,-1.328484,1.446556,20/08/2012,24/04/2013,01/04/2013,-1.240567,-1.045828,1.280677,0.534245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.670370,-0.542234
81,97,0.192482,-1.734502,07/05/2012,14/08/2012,14/08/2012,-0.475782,2.314618,-0.736009,-1.493868,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.096221,-0.018409
83,571,-0.367150,1.236809,22/12/2013,04/09/2014,28/08/2014,-0.156551,-1.492726,-0.307200,0.050754,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.383226,-0.845548
86,4,-1.296250,1.119187,12/05/2013,NaN,01/09/2013,-0.076899,-0.632567,1.117269,0.278460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.349767,0.336361
90,53,0.481610,-1.171537,17/11/2013,20/08/2014,20/08/2014,-0.783190,1.352773,-1.143702,-1.293826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.763633,-0.134023
91,129,-2.301258,1.952937,07/11/2013,14/03/2014,12/03/2014,0.409103,-0.326549,0.965697,0.479333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.235053,1.446373
92,491,2.832703,-1.063547,NaN,28/05/2015,12/04/2015,0.492489,0.081402,0.539243,-3.123381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.592595,-0.846812
95,711,-2.318824,1.773417,NaN,21/03/2015,21/03/2015,0.444573,-0.008481,0.895240,0.232937,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.370044,0.428815
98,36,-1.518191,0.725582,07/02/2014,19/06/2014,19/06/2014,0.280913,0.346453,1.024190,-0.035840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.885531,0.237538
101,639,-1.770310,2.250490,27/11/2013,17/06/2014,21/06/2014,0.799896,-1.723676,1.363683,1.148544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.752824,-0.815217
105,564,-2.097495,3.136585,23/09/2014,19/04/2015,17/04/2015,1.089880,-2.911221,1.185971,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.366269,-0.846812
110,514,-2.307560,1.776992,06/07/2014,25/03/2015,25/03/2015,0.446440,-0.036434,0.907312,0.247915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016200,1.093637
115,270,2.845274,-1.048405,25/01/2015,25/05/2015,12/04/2015,0.502445,0.065438,0.507220,-3.173381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.329450,-0.846812
118,551,0.488774,-1.166965,05/03/2014,20/08/2014,20/08/2014,-0.787546,1.340940,-1.164545,-1.266555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.722379,0.174347
121,660,-0.985747,0.647642,03/01/2015,27/07/2015,29/09/2015,0.124098,-0.169829,0.150435,-0.240970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.583009,1.529437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,87,-0.622279,0.662140,17/02/2014,25/08/2014,27/08/2014,0.720244,-0.520011,-0.966917,-0.626274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.442778,0.608491
278,724,-0.611285,0.667669,05/02/2014,21/08/2014,18/08/2014,-0.849774,-0.538243,-0.976897,-0.633850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.779320,0.091106
288,781,-1.016673,0.998536,11/10/2014,20/09/2015,22/09/2015,-0.201356,-0.717480,0.670739,0.080012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.449362,1.257705
289,287,-1.221547,1.127744,11/08/2014,NaN,01/12/2015,0.653038,-0.719996,1.084375,0.279509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.640869,-0.130048
318,666,-2.048340,1.530376,10/05/2013,16/09/2013,19/02/2014,-0.853507,-0.173742,1.044247,0.184225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.468744,0.555386
325,72,-2.410459,0.999044,26/11/2014,28/03/2015,15/05/2015,0.114141,1.369203,0.464922,-1.068608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.754360,2.744534
331,614,-1.257611,1.142633,NaN,NaN,01/01/2016,0.656149,-0.705398,1.114258,0.295054,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.655136,0.445087
332,618,-2.421556,1.463496,14/06/2014,20/11/2014,20/11/2014,0.423416,0.673373,0.680421,-0.309092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.391256,5.527111
337,93,-2.161319,2.323233,21/08/2014,05/01/2015,20/04/2015,1.224915,-1.204071,1.144036,1.008741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.970994,-0.645866
339,706,-0.655250,0.645493,28/03/2014,29/08/2014,01/08/2014,-0.073788,-0.462802,-0.933814,-0.603086,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.338057,1.131766
353,226,-0.878457,1.886369,NaN,NaN,10/06/2016,0.966668,-1.947109,1.313164,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.531254,-0.698946
358,484,-1.494127,0.870402,27/05/2013,12/12/2013,21/08/2013,-0.041429,0.038634,1.071793,0.065863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.905565,0.127586
359,203,-0.625207,0.689260,11/04/2014,25/09/2014,01/09/2014,-0.661222,-0.557064,-0.931884,-0.604221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.463243,0.163857
373,166,-1.248341,0.963835,13/04/2014,27/11/2014,01/06/2015,-0.556057,-0.446527,0.982737,0.158854,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.649814,0.772193
374,527,-1.266321,1.060317,25/07/2014,NaN,01/12/2015,-0.119215,-0.576693,1.063170,0.232653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.654679,0.013868
379,664,-2.083481,3.143658,25/08/2014,11/03/2015,20/04/2015,1.081790,-2.958958,1.193532,1.813301,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.785963,-0.846812
384,218,-0.901856,1.874568,13/11/2015,NaN,06/06/2016,0.961067,-1.905025,1.325873,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.546199,-0.622486
385,608,-1.724736,2.754117,NaN,23/09/2014,23/09/2014,1.028896,-2.739500,1.367616,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.805649,-0.846812
388,732,-2.017228,1.551536,15/08/2013,21/12/2013,19/12/2013,-1.336398,-0.277508,1.076275,0.242063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052638,1.837522
391,537,-0.426769,1.182785,28/09/2015,22/03/2016,18/03/2016,1.623798,-1.378245,-0.323592,-0.069158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.614017,-0.441129
399,124,-1.507405,0.735488,28/07/2013,10/10/2013,01/09/2013,1.925605,0.311730,1.024606,-0.022805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.663272,0.463128
405,363,-1.258992,0.730271,18/07/2013,23/10/2013,01/09/2013,-0.722828,-0.030781,0.852610,0.010055,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.723281,1.727489
407,230,-1.873063,1.907940,10/01/2014,04/10/2014,28/09/2014,-0.860975,-1.093876,1.275995,0.758065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.154937,-0.271778
410,172,-2.329475,1.768063,14/08/2014,18/03/2015,18/03/2015,0.443329,0.021117,0.883073,0.216146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.053006,1.364623
412,119,-1.777981,2.232573,02/09/2013,17/06/2014,17/06/2014,1.526100,-1.686158,1.360509,1.128544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.775086,-0.288840
420,334,-1.289253,1.135130,04/06/2013,25/10/2013,01/09/2013,-0.475160,-0.662352,1.124083,0.290469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.675404,0.046323
421,671,0.472869,-1.181580,17/01/2014,20/08/2014,20/08/2014,-0.895823,1.375260,-1.110539,-1.342996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.651779,0.273556
426,425,0.463121,-1.181130,06/02/2014,20/08/2014,20/08/2014,-0.776345,1.383242,-1.085911,-1.343585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.658064,0.393618
427,54,-0.633273,0.656571,02/03/2014,NaN,01/08/2014,-0.188288,-0.500973,-0.956397,-0.618654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.502928,0.535614
431,719,-0.975106,0.653015,02/12/2014,02/07/2015,01/10/2015,0.124098,-0.189303,0.114742,-0.248371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.636739,1.463668

### Analyze group 2
 We would like to know whether the missing values in group2 are in the same columns or each row has the missing values in different columns. A look into the data frame of group2 (above) confirms, that for group2, there is a set of 18 columns that is completely blank. We count the number of nans for each column of group2:

In [15]:
missing2=group2.isnull().as_matrix()
count_na_columns=[[i,np.sum(missing2[:,i])] for i in range(len(missing2[0]))] # substract data frame index
s=pd.DataFrame(count_na_columns)
s.columns = ['column','nb of nans in column']
s=s.groupby('nb of nans in column')['column'].count()
s=s.to_frame()
s.columns = ['amount of columns']
s['amount of columns'][0]=s['amount of columns'][0]-2  # data frame index given by python and API do not count 
s

                      amount of columns
nb of nans in column
0                                    23
1                                     1
7                                     1
13                                    2
97                                   18

We can confirm, that there is a set of 18 columns, which have all the 97 rows of group 2 missing.
For completeness, 
#### finish

## Analyis by columns
We count for each column of the whole dataset, how many missing values it has.

In [16]:
count_na_columns=[[i,np.sum(missing[:,i])] for i in range(len(missing2[0]))] # substract data frame index
s=pd.DataFrame(count_na_columns)
s.columns = ['column','nb of nans in column']
s=s.groupby('nb of nans in column')['column'].count()
s=s.to_frame()
s.columns = ['amount of columns']
s['amount of columns'][0]=s['amount of columns'][0]-2  # data frame index given by python and API do not count 
s

                      amount of columns
nb of nans in column
0                                    23
1                                     1
9                                     1
14                                    2
97                                    5
98                                    7
99                                    3
103                                   1
105                                   1
128                                   1

We have 23 complete features. We clearly have a jump in the above table between nb_na= 14 and nb_na = 97. having 14 missing values out of 460 can still be considered  a minor problem and estimation of those missing values will not introduce to much error in the model. On the other hand, having more than 97 out of 460 values missing is a bigger problem. We should not estimate 97 missing values in one column. 
We also devide the columns into two groups

column_group1:  less then 14 missing values with  29 members    ( including target variables )

column_group2. more than 97 missing values. with  18

## seperate the two column groups
we split the data frame by the two column groups and name it data1 and data2 respectively.

In [17]:
k1=[df.columns[i] for i in range(len(df.columns)) if count_na_columns[i][1]<=14 ]
k2=[df.columns[i] for i in range(len(df.columns)) if count_na_columns[i][1]>14 ]
data1=df[k1]
data2=df[k2]

### Analyze Cgroup2
We want to confirm that in column-group2, the missing values are in the same lines. Hence we look at data 2 and count for each row the number of missing values.

In [18]:
missing3=data2.isnull().as_matrix()
count_na_lines=[[i,np.sum(missing3[i,:])] for i in range(len(missing3))]
t=pd.DataFrame(count_na_lines)
t.columns = ['line','nb of nas per row']
t=t.groupby('nb of nas per row')['line'].count()
t=t.to_frame()
t.columns = ['amount of rows']
t

                   amount of rows
nb of nas per row
0                             317
1                              40
2                               2
3                               3
5                               1
18                             97

We can confirm, that there is 97 lines, that are empty in all the column group 2. These 97 lines correspond to the row-group two. Hence we get the same result as for the analyis by rows.

Finish the smaller groups.

## Detailed Analysis of columns
check whether the columns with more than 100 missing vals...
he columns with more than than 100 missing values are:

ShutInPressureInitilal  (103)
Frac Gradient           (105)
ShutInPressureInitilal  (128)

We already know that they have 97 missig lines in common (group). So we are going to focus on the other lines now.

As the two 'ShutInPressure' are highly correlated, we can reduce the number of missing vals of both of them.
In group1, they have only 1 missing value in common, so we will be able to reduce the number of missing values of each of them to 98.

In [40]:
missing_shut_in=np.logical_and(np.isnan(df['ShutInPressure_Fil (KPa)']),np.isnan (df['ShutInPressure_Initial (KPa)']))
group1[missing_shut_in]

,API,Surf_X,Surf_Y,Date_Drilling,Date_Completion,Date_Production,Lateral_Length (ft),Depth_TVD_PPLS (ft),Erosion_PPLS (ft),Pressure_PPLS (PSI),...,Min_Rate_Slurry (bpm),ShutInPressure_Fil (KPa),ShutInPressure_Initial (KPa),ISIP (KPa),Shot_Density (shots/ft),Shot_Total,Proppant_per_ft (kg/ft),Stage_Spacing (ft),GasCum360,OilCum360
186,636,0.889209,-1.297541,28/03/2011,28/06/2011,24/07/2011,0.01022,1.167945,0.100313,0.686254,...,0.763242,NaN,NaN,-0.145505,0.667339,3.151688,1.409488,0.003925,-0.399839,0.451754

## Detailed Analysis of columns suite
check whether the columns with 1 to 14 missing vals...
1  missing val   'Date Production'
9  missing       'Pressure_PPLS (PSI)'
14 missing        Date_Drilling and Date_Completition

We want to whether the  Date_Drilling and Date_Completition have missing values in the same rows:

In [58]:
missing_date= np.logical_and(missing[:,3],missing[:,4])
df[missing_date]

,API,Surf_X,Surf_Y,Date_Drilling,Date_Completion,Date_Production,Lateral_Length (ft),Depth_TVD_PPLS (ft),Erosion_PPLS (ft),Pressure_PPLS (PSI),...,Min_Rate_Slurry (bpm),ShutInPressure_Fil (KPa),ShutInPressure_Initial (KPa),ISIP (KPa),Shot_Density (shots/ft),Shot_Total,Proppant_per_ft (kg/ft),Stage_Spacing (ft),GasCum360,OilCum360
159,424,-1.665791,-1.109404,NaN,NaN,NaN,-0.717850,3.497318,-0.183161,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.241844,-0.694681
238,24,0.131285,1.707435,NaN,NaN,14/04/2016,0.709043,-2.676638,-0.331850,NaN,...,-0.44968,1.145678,2.214658,1.187135,1.456334,-0.799406,-0.371036,-0.279994,0.622160,-0.846812
331,614,-1.257611,1.142633,NaN,NaN,01/01/2016,0.656149,-0.705398,1.114258,0.295054,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.655136,0.445087
353,226,-0.878457,1.886369,NaN,NaN,10/06/2016,0.966668,-1.947109,1.313164,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.531254,-0.698946

We see they have 4 missing values in common.